.restaurant {
    height: 100px;
    margin: 5px 0px;
}

.restaurantThumb {
    height: 100px;
    width: 100px;
}

.menu-body h1 {
    margin-bottom: 0px;
}

ul.restaurant-tags {
    margin-bottom: 20px;
}

.inline-list li:last-child:after {
    display: none;
}

.dish {
    padding: 10px;
}

.dish .title {
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 22px;
    font-weight: bold;
    color: #474747;
    margin-top: 10px;
}

.dish p {
    clear: both;
    margin: 20px 0 0;
}

.dish .orderQuant {
    margin-left: 20px;
}

.dish:nth-child(odd) {
    background-color: #F3F3F3;
}

.menu-body .totals {
    position: fixed;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;

    padding: 15px 50px;
    font-size: 18px;
    color: #F9F9F9;
}

.menu-body {
    padding-bottom: 50px;
}

a[role='button'] {
    display: inline-block;
    margin: 10px 0;
    padding: 7px 20px;
    border-radius: 10px;
    background-color: red;
    color: #FFF;
    text-align: center;
}

a[role='button']:hover {
    background-color: darkred;
}



.pull-right {
    float: right;
}

.pull-left {
    float: left;
}