.restaurant {
    height: 100px;
}

.menu-body h1 {
    margin-bottom: 0px;
}

.restaurant-tags {
    margin: 0 0 20px;
    padding-left: 0;
}

.restaurant-tags li {
    display: inline-block;
}

.restaurant-tags li:after {
    content: "/";
    display: inline-block;
    position: relative;
    margin: 0 20px;
}

.restaurant-tags li:last-child:after {
    display: none;
}

.dish .title {
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 22px;
    font-weight: bold;
    color: #474747;
    margin-top: 10px;
}

.dish p {
    clear: both;
    margin: 20px 0;
}

.dish .orderQuant {
    font-size: 18px;
    padding: 5px;
    margin-left: 20px;
}

a[role='button'] {
    display: block;
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: red;
    color: #FFF;
    text-align: center;
    border: 1px solid #FFF;
}

a[role='button']:hover {
    background-color: darkred;
}



.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}
