<h1>Let's get started!</h1>
<h2>Enter your address to find restaurants near you!</h2>
<input ng-model="query" placeholder="Enter your address" size="50">
<a href="#/restaurants" role="button">Find restaurants</a>

<h1>This project was built using:</h1>

<ul class="technologies">
    <li>Angular.js</li>
    <li>Node.js</li>
    <li>Python</li>
    <li><a href="https://hackfood.ordr.in/">ordr.in Restaurant API</a></li>
    <li><a href="https://developer.venmo.com/">Venmo Payments API</a></li>
    <li><a href="http://www.twilio.com/">Twilio API</a> to send text messages</li>
</ul>