<a href="#/restaurants/">Back to restaurants</a>

<!-- TODO: Hardcoded -->
<!-- restaurant -->
<h1>Cafe Chaat</h1>

<h2>Tags</h2>
<ul>
    TODO: this is ugly as shit
    <li ng-repeat="tag in restaurant.cuisine">{{tag}}</li>
</ul>

<div ng-repeat="category in restaurant.menu">

    <h2>{{ category.name }}</h2>

    <ul>
        <li>
            <ul>
                <li class="dish" ng-repeat="dish in category.children">
                    <div class="dish-title">
                        <h3>{{dish.name}}</h3> <span class="dish-price">{{dish.price}}</span></h2>
                    </div>

                    <p>{{dish.descrip}}</p>
                    Quantity: <input type="number" class="orderQuant">
                </li>
            </ul>
        </li>
    </ul>

</div>

<span>
    Order Total: $63.48 <br>
    Order: $52.99 <br>
    Tax: $3.68 <br>
    Tip: $8.95 <br>
</span>

<h2>TODO: Total price & submit order is fake right now. Add link to modify current order</h2>
<a href="#/submit-order" ng-click="confirmOrder()">Link to submit order</a> <br>
<a href="/">Link for friends to modify order</a>
<!--<span>{{restaurant.menu}}</span>-->