<h1>Restaurants Near You</h1>

<h2>Filters</h2>
<div>
    <!--Sidebar content-->
    <span>Find by name:</span>
    <input ng-model="query">

    <span>Sort by:</span>
    <select ng-model="orderProp">
        <option value="na">Closest</option>
        <option value="latitude">Cheapest</option>
    </select>
</div>
<!--Body content-->

<style>
    .restaurant {
        height: 100px;
        margin: 5px 0px;
    }

    .restaurantThumb {
        height: 100px;
        width: 100px;
    }

    .restaurantItem{
        top: -81px;
        position: relative;
    }

    .minOrder {
        left: 105px;
        position: relative;
    }
</style>

<h2>Results</h2>

<ul>
    <li ng-repeat="restaurant in restaurants | filter:query | orderBy:orderProp"
        class="section group restaurant">
            <span class="col span_1_of_4">
                <img ng-src="{{restaurant.img_url}}" class="restaurantThumb">
            </span>
            <span class="col span_3_of_4 restaurantItem">
                <a href="{{restaurant.id|menu_url}}"><b>{{restaurant.na}}</b></a> {{restaurant.addr}}
                 <p class="minOrder">Minimum order: ${{restaurant.mino}}</p>
            </span>
    </li>
</ul>
