<div>
    <!--Sidebar content-->
    Find by name: <input ng-model="query">
    Sort by:
    <select ng-model="orderProp">
        <option value="na">Closest</option>
        <option value="latitude">Cheapest</option>
    </select>

</div>
<!--Body content-->

<style>
</style>
<ul>
    <li ng-repeat="restaurant in restaurants | filter:query | orderBy:orderProp"
        class="section group restaurant">
            <span class="col span_1_of_4">
                <img ng-src="{{restaurant.img_url}}" class="restaurantThumb">
            </span>
            <span class="col span_3_of_4">
                <a href="{{restaurant.id|menu_url}}">{{restaurant.na}} {{restaurant.addr}}</a>
                <p>Minimum order ${{restaurant.mino}}</p>
            </span>
    </li>
</ul>
