<a href="#/restaurants/">&lt; Back to restaurants</a>

<div class="menu-body">

<h1>{{restaurant.name}} Menu</h1>

<ul class="inline-list restaurant-tags">
    <li ng-repeat="tag in restaurant.cuisine">{{tag}}</li>
</ul>

<div ng-repeat="category in restaurant.menu">
    <h2>{{ category.name }}</h2>
    <ul>
        <li>
            <ul>
                <li class="dish" ng-repeat="dish in category.children">
                    <span class="title">{{dish.name}}</span>

                    <div class="pull-right">
                        <span class="price">${{dish.price}}</span>
                        <input class="orderQuant"
                               ng-model="orderData[dish.id]"
                               ng-change="$emit('UpdateTotal')"
                               type="number"
                               inputmode="numeric"
                               value="0"
                               min="0"
                               max="9"
                               maxlength="1">
                    </div>

                    <p class="clearfix">{{dish.descrip}}</p>
                </li>
            </ul>
        </li>
    </ul>
</div>


<div class="totals">
    <ul class="inline-list">
        <li>Subtotal: ${{calculateSubtotal()}}</li>
        <li>Tax (8.75%): ${{calculateTax()}}</li>
        <li>Tip (17%): ${{calculateTip()}}</li>
        <li><b>Order: ${{calculateTotal()}}</b></li>
    </ul>
</div>

<a href="#/submit-order" ng-click="confirmOrder()" role="button">Submit order</a>

<p><a href="http://scrum.diddlyumptio.us:8000/app/index.html#/share-order/32318/12351235">Link for friends to modify order</a></p>
    
</div>