<h1>Submit your food items for this group order</h1>
<p>The minimum amount is $25</p>

<h2>Cafe Chaat</h2>
<ul>
    <h2>Tags</h2>
    TODO: this is ugly as shit
    <li ng-repeat="tag in restaurant.cuisine">{{tag}}</li>
</ul>

<style>
    .orderQuant {
        width:34px;
    }
</style>

<ul>
    <li ng-repeat="category in restaurant.menu">
        <h2>Category</h2>
        <ul>
            <li ng-repeat="dish in category.children">
                <h2>{{dish.name}} {{dish.price}}</h2>

                <p>{{dish.descrip}}</p>
                Quantity: <input type="number" class="orderQuant">
            </li>
        </ul>
    </li>
</ul>

<span>
    Group Order Total: $63.48 <br>
    Your order total: $15.48 <br>
</span>

Enter your venmo account to pay back coordinator<input type="text"> <br>
<a href="#/submit-individual-order">Submit to group order</a>