<h1>Your order is on the way!</h1>

<p>
    Thank you for placing your order with <strong>Cafe Chaat</strong>!
    Your delivery should be completed in 20-30 minutes.
</p>

<p>You will receive a confirmation text message soon.</p>

<p>
    If you did not receive the confirmation, please re-enter your phone number.
    We will use this phone number to contact you when your order arrives.
</p>

<p>
    Re-enter phone number <br />
    <input type="number">
</p>

<h3><a href="https://api.venmo.com/v1/oauth/authorize?client_id=1568&scope=make_payments">Request Payments (Requires venmo login)</a></h3>