<h1>Your order is on the way!</h1>

<p>
    Thank you for placing your order with <strong>Cafe Chaat</strong>!
    Your delivery should be completed in 20-30 minutes.
</p>

<h2>You will receive a confirmation text message soon.</h2>

        <!--
<p>
    If you did not receive the confirmation, please re-enter your phone number.
    We will use this phone number to contact you when your order arrives.
</p>

<p>
    Re-enter phone number <br />
    <input type="number">
</p>
-->
<h1>Next Steps</h1>

<a href="https://api.venmo.com/v1/oauth/authorize?client_id=1568&scope=make_payments">Request payment from group (Requires Venmo login)</a>